/* transparent */
.transparent {
  background-color: transparent;
  border-color: transparent;
  color: var(--text-color);
}

.transparent:hover {
  background-color: var(--primary-light);
  border-color: var(--primary-light);
}

.transparent:active:focus {
  background-color: var(--primary-light);
}

/* Disable */
.btn:disabled {
  background-color: var(--disabled);
  border-color: var(--secondary-hover);
  color: var(--text-color);
}

/* Size Xs */
.xs {
  padding: 2px 4px;
  font-size: 14px;
}
