.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: fit-content;
}

.xs {
  min-height: 16px;
  min-width: 16px;
}

.sm {
  min-height: 24px;
  min-width: 24px;
}

.lg {
  min-width: 34px;
  min-height: 34px;
}
