
/* Font */
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;500;600;700&display=swap");

:root {
  /* Define variables */
  --vms-body-color: #605f5f;
  --vms-primary: #84c0ca;
  --vms-primary-hover: #579fad;
  --vms-secondary: #f0f0f0;
  --vms-secondary-hover: #dfdfdf;
  --vms-primary-light: #cee6ea;
  --vms-text-color: #605f5f;
  --vms-disabled: #e0e0e0;
  --vms-red: #e60000;
}

body {
  font-family: "Noto Serif", serif;
  color: var(--vms-body-color) !important;
}

/* Bootstrap */
.form-check-input {
  border-radius: 0 !important;
}

.form-check-input[type=radio] {
  border-radius: 50% !important;
}

.form-check-input:focus {
  box-shadow: 0 0 0 0.25rem var(--vms-primary-light);
  border-color: var(--vms-primary);
}

.form-check-input:checked {
  background-color: var(--vms-primary);
  border-color: var(--vms-primary);
}

.form-check-label {
  font-size: 14px;
}